<%= form_for(@clue) do |f| %>
  <% if @clue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clue.errors.count, "error") %> prohibited this clue from being saved:</h2>

      <ul>
      <% @clue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word_id %><br />
    <%= f.number_field :word_id %>
  </div>
  <div class="field">
    <%= f.label :definition %><br />
    <%= f.text_field :definition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
