<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @clue.word_id %>
</p>

<p>
  <b>Definition:</b>
  <%= @clue.definition %>
</p>


<%= link_to 'Edit', edit_clue_path(@clue) %> |
<%= link_to 'Back', clues_path %>
